body{
    font-family: 'titilium web', sans-serif;
}

#header{
    margin-top: 75px;
}

#testimonial{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

footer{
    background: url(../img/smartphones.png);
}
.navbar{
    background-color: rgb(4, 100, 73) !important
}